<br/><br/><br/>
<div class="content-left-container">
		<div class="text">
			<div class="title3" style="padding-left:20px;">•  DE LA CITE A LA ‘RESIDENCE’<br/>
			Repères pour la résidentialisation</div>
			Edité par l’Union Sociale pour l’Habitat, janvier 2004<br/><br/><br/>
			<div class="title3" style="padding-left:20px;">• ESPACES PUBLICS et CULTURES URBAINES<br/>
			Actes du séminaire du CIFP de Paris (2000 2001 2002)</div>
			Edité par le CERTU, mars 2003<br/><br/><br/>
			<div class="title3" style="padding-left:20px;">• Assistance à la création de l’iconothèque de l’EPAMARNE</div>
			Elaboration de la base, du guide d’indexation, du thesaurus et du guide d’utilisation<br/>
			Maître d’ouvrage : EPAMARNE - 1997
		</div>
	</div>
	<div class="content-right-container">
		<div class="text">
			<div class="title3">• Publications pour Villes et Territoires et la Direction de
			l’Architecture et de l’Urbanisme:</div><br/>
			<div style="padding-left:20px;">
				‘Planification urbaine’, bibliographie thématique<br/><br/>
				‘Ecologie urbaine’, bibliographie thématique<br/><br/>
				‘Systèmes d’information géographique’, Paris, CDU, 1992.-35p<br/><br/>
				‘Changement d’affectation dans les grands ensembles’, Paris, CDU, 1992<br/><br/>
				‘Les villes de la reconstruction’, bibliographie thématique, Paris, CDU<br/><br/>
				‘L’Europe des villes’: stratégies et projets urbains, Paris, CDU, 1990.-48p<br/><br/>
				‘Planification urbaine’, bibliographie thématique<br/><br/>
			</div>
			Réalisation d’un lexique français/anglais des termes d’urbanisme, consultable sur le CD-ROM Urbamet
		</div>
	</div>
</div>