<h1>Tools</h1>
<hr/>
<table>
	<tr>
	   	<td><%= link_to 'Gestion des cat&eacute;gories de clients', :controller => 'categories' %></td>
	</tr>
	<tr>
	    <td><%= link_to 'Gestion des clients', :controller => 'clients' %></td>
	</tr>
	<tr>
	    <td><%= link_to 'Gestion des r&eacute;f&eacute;rences', :controller => 'references' %></td>
	</tr>
</table>

