<div class="cv-left-container">
	<div class="team-member-name">Christophe BASTIDE</div>
	<p>DESS d’Urbanisme – I.F.U.<br/>
	CEA «Programmation et Maîtrise d’Ouvrage» Ecole<br/>
	d’Architecture de Paris-Malaquais<br/>
	Maîtrise d’Aménagement (mention urbanisme)- Paris X<br/>
	DEUG de Sciences Economiques - Paris X</p>
	<div class="title2">EXPERIENCE PROFESSIONNELLE</div><br/>
	<div class="title3">Depuis février 1990,<br/>
	associé et gérant d’AVANT-PROJET</div>
	A l’origine de la création de la société, j’en assure le suivi
	administratif et financier. Dans cette structure, mon rôle de
	chef de projet m’amène à travailler de façon continue avec
	de nombreux décideurs publics et privés et à entretenir des
	partenariats avec des agences d’architecture et différents
	bureaux d’études.<br/><br/>
	<div class="title3">Avant 1990</div>
	■ Chargé d’opération dans un BET privé, montage de projets
	pour des investisseurs privés et publics, évaluations et
	négociations immobilières et foncières,<br/>
	■ Consultant pour l’IPRAUS (Institut Parisien de Recherche
	Architecture Urbanisme et Société). Ecole d’Architecture
	de Paris Belleville, participation au Palmarès National de
	l’Habitat,<br/>
	■ Consultant pour le Centre de Documentation sur
	l’Urbanisme du ministère de l’Equipement.
</div>
<div class="cv-right-container">
	<div class="title2">Mes domaines de compétence</div>
	Les études urbaines, économiques et sociales à différentes
	échelles de territoire.<br/>
	La mise en place et l’exploitation de Système d’Information
	géographique dans le cadre d’études foncières.<br/><br/>
	<div class="title2">Mes domaines d’interventions</div>
	<div class="title3">■ La programmation urbaine</div>
	La programmation urbaine, définition de partis
	d’aménagement, prospective socio-démographique,
	programmation en matière d’équipements et de logements
	et d’activités, chiffrage d’opérations,<br/>
	<div class="title3">■ L’expertise foncière</div>
	Réalisation de nombreuses missions de définition de
	stratégie foncière, mise en place d’observatoires fonciers et
	immobiliers.<br/>
	<div class="title3">■ Les études urbaines et économiques</div>
	Etudes préalables à la mise en oeuvre de politiques publiques,
	Programme Local de l’Habitat, documents de planification
	urbaine.<br/>
	<div class="title3">■ L’assitance à maîtrise d’ouvrage</div>
	Réalisation d’études de marché, montage d’opérations
	et suivi des autorisations, consultation d’investisseurs,
	rédaction des cahiers des charges.<br/>
	<div class="title3">■ La recherche et la documentation</div>
	Réalisation de nombreux dossiers thématiques: les villes
	européennes, les S.I.G, l’écologie urbaine, les villes de
	la reconstruction, les transformations d’usage dans les
	quartiers d’habitat social, la planification urbaine.
</div>