<div class="cv-left-container">
	<div class="team-member-name">Dominique DURAND</div>
	<p>Architecte DPLG Ecole d’Architecture de Versailles<br/>
	Sociologue Paris X (Nanterre) - maîtrise<br/>
	Vice-présidente de l’ACAD</p>
	<div class="title2">EXPERIENCE PROFESSIONNELLE</div><br/>
	<div class="title3">Depuis février 1990, associée et chef de projet d’AVANT-PROJET</div>
	■ Développement urbain, social et économique de quartiers
	d’habitat<br/>
	■ Projet d’aménagement d’espaces publics<br/>
	■ Coordination des différents intervenants dans le domaine
	de l’aménagement,<br/>
	■ Définition de programmes d’opérations (logements,
	activités, bureaux, équipements) en concertation avec les
	maîtres d’ouvrage,<br/>
	■ Etudes foncières à différentes échelles du territoire<br/>
	■ Vérification de la constructibilité d’entités foncières (études
	de capacité et de faisabilité)<br/>
	■ Détermination du coût d’objectif des opérations et prébilan
	financier,<br/>
	■ Concertation auprès des habitants et des différents
	acteurs.<br/><br/>
	<div class="title3">1989 Directrice technique de la société BATICOM</div>
	■ Organisation de la prospection foncière et immobilière,
	encadrement de 8 à 10 prospecteurs,<br/>
	■ Etudes de capacité et de faisabilité des terrains prospectés,
	pré-bilan financier.
</div>
<div class="cv-right-container">
	<div class="title3">1982-1988 chargée d’études au CREPAH</div>
	■ Négociation de dossiers et concertation avec les
	partenaires (collectivités locales, DDE, DRE, ...)<br/>
	■ Programmation d’opérations d’aménagement et de
	constructions neuves (de 60 à 600 logts, équipements,
	commerces, ...)<br/>
	■ Conception de plan masse, découpage parcellaire,<br/>
	■ Collaboration au montage financier et juridique des
	opérations,<br/>
	■ Organisation de consultations d’architecture et
	d’urbanisme.<br/>
	■ Programmation d’opérations de réhabilitation de l’habitat,
	études H.V.S. et D.S.Q.<br/>
	■ Définition du programme des travaux (logements et
	espaces extérieurs)<br/>
	■ Enquêtes auprès des habitants, animation de réunions
	d’information et de groupes de travail, actions de conseil et
	de communication auprès des organismes HLM.<br/><br/>
	<div class="title3">1978-1982 architecte assistante</div>
	1978-1979 Atelier d’Urbanisme et d’Architecture (AUA)<br/>
	1980 Cabinet Daniel Auger<br/>
	1981 Groupe Architecture (Panerai - Castex - Payeur)<br/>
	1982 Cabinet Jean-Pierre Buffi<br/><br/>
	<div class="title2">Recherches et publications</div>
	L’unité d’habitation de Marseille de Le Corbusier<br/>
	Le nouveau village comme ensemble urbain<br/>
	L’Ecole d’Amsterdam (1910 - 1930)<br/>
	L’urbanisme est aussi un problème d’architecture
</div>