<div class="cv-left-container">
	<div class="team-member-name">Alexandra ESPINOSA</div>
	<p>Architecte DPLG - Ecole d’Architecture de Versailles<br/>
	Master Cité et Mobilité – Modes de vie et lieux urbains<br/>
	à l’Université de Marne-la-Vallée<br/>
	DSU de Droit et d’Economie Immobiliers au C.E.R.C.O.L<br/>
	(Paris II)</p>
	<div class="title2">EXPERIENCE PROFESSIONNELLE</div><br/>
	<div class="title3">Depuis décembre 2007, associée et chef de projet d’AVANT-PROJET</div><br/>
	<div class="title3">2006-2007<br/>
	chef de projet de renouvellement urbain à la SEMIP <small>(projet de rénovation urbaine du quartier des Courtillières à Pantin)</small></div>
	■ Coordination des maîtrises d’ouvrage et de leurs maîtrises d’oeuvre<br/>
	■ Suivi opérationnel en tant qu’OPC urbain<br/><br/>
	<div class="title3">2000-2005<br/>
	chef de projet à l’agence Philippe Panerai</div>
	■ Maîtrise d’oeuvre d’espaces publics<br/>
	■ Projets de renouvellement urbain<br/>
	■ Urbanisme opérationnel, mise en oeuvre et suivi en tant
	qu’urbaniste en chef<br/>
	■ Elaboration de PLU<br/>
	■ Insertion urbaine et paysagère d’infrastructures
</div>
<div class="cv-right-container">
	<div class="title3">2000 Mission en freelance pour la SAEML Lyon Confluence
	<small>(projet de la restructuration de la confluence du Rhône et de la Saône)</small></div>
	■ analyse morphologique du quartier Ste-Blandine à Lyon<br/>
	■ Etudes et relevés de parcelles bâties à démolir<br/><br/>
	<div class="title3">1997-1998 Chargée d’études à l’EPAMSA</div>
	■ Mise en place d’une stratégie d’intervention sur les copropriétés
	dégradées et analyse financière des copropriétés<br/>
	■ Analyse de l’état du bâti des logements acquis par l’établissement
	public<br/><br/>
	<div class="title3">1993-1994	Assistante d’architecte à l’Agence Georges Ursule</div><br/>
	<div class="title2">Recherches</div>
	■ Habiter en limite communale, analyse comparée de trois
	sites en Seine-Saint-Denis<br/>
	■ « Tissus urbains, une lecture raisonnée des constituants
	de la ville contemporaine », guide commandé par la DGUHC
	à Philippe Panerai<br/>
	■ « Amsterdam, Marseille, Valparaiso : trois destins de villes-
	ports »<br/><br/>
	<div class="title2">Enseignement</div>
	■ Présentations de projet de renouvellement urbain à l’ENPC
	et à Institut d’Urbanisme de Grenoble (DESS)<br/>
	■ Elaboration des Plans Locaux d’Urbanisme et leur PADD
	au CAUE des Hauts de Seine (formation des élus)<br/>
</div>